body {
	background-color: black;
	color: white;
	font-family: Roboto, sans-serif;
}
.btn:focus {
	box-shadow: none
}
.btn {
	color: #FFF;
	text-transform: uppercase;
	font-weight: bold;
	background-color: transparent;
	white-space: normal;
}

.btn-main {
	width: 208px;
	height: 40px;
	background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(4, 1, 4, 0) 0.01%, #2C131D 100%);
	border: 3px solid #9F3761;
	box-sizing: border-box;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	border-radius: 34px;
}

.btn-buy {
	width: 130px;
	height: 40px;
	background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(4, 1, 4, 0) 0.01%, #182D3F 100%);
	border: 3px solid #37729F;
	box-sizing: border-box;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 34px;
}

.btn-icon {
	background: transparent;
	border-radius: 0;
}

.btn-close {
	width: 208px;
	height: 40px;
	text-transform: uppercase;
	font-size: 15px;
	background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(4, 1, 4, 0) 0.01%, #2C131D 100%);
	border: 3px solid #9F3761;
	box-sizing: border-box;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	border-radius: 34px;
	font-weight: bold;
}

.btn-vallet {
	width: 200px;
	height: 40px;
	background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(4, 1, 4, 0) 0.01%, #182D3F 100%);
	border: 3px solid #37729F;
	box-sizing: border-box;
	border-radius: 34px;
	font-weight: bold;
	font-size: 15px;
	text-transform: uppercase;
}

.sprite {
	display: block;
	background: transparent url('../images/sprites.png')
}

.sprite.sprite-menu {
	width: 22px;
	height: 22px;
	background-position: -27px -1px;
}

.sprite.sprite-menu-close {
	width: 22px;
	height: 22px;
	background-position: -27px -24px;
}

.sn-holder .sprite-follow {
	background: transparent;
}

.sprite.sprite-discord {
	width: 20px;
	height: 16px;
	background-position: -50px -1px;
}

.sprite.sprite-twitter {
	width: 20px;
	height: 16px;
	background-position: -71px -1px;
}

.sprite.sprite-action {
	width: 26px;
	height: 48px;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(4, 1, 4, 0.8);
	width: 100%;
	height: 100%;
	z-index: 10;
}

.overlay .about-details {
	padding: 26px 22px 0 30px;
}

.about-details .title {
	font-size: 24px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 26px;
}

.overlay .scroll-content {
	overflow-y: scroll;
}

.overlay .scroll-content::-webkit-scrollbar{
	width: 4px;
	height: 4px;
}
.overlay .scroll-content::-webkit-scrollbar-thumb{
	background: rgba(255, 255, 255, 0.74);
}
.overlay .scroll-content::-webkit-scrollbar-thumb:hover{
	background: rgba(255, 255, 255, 0.74);
}
.overlay .scroll-content::-webkit-scrollbar-track{
	background: rgba(255, 255, 255, 0.14);
	border-radius: 4px;
}

.overlay .scroll-content {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.74) rgba(255, 255, 255, 0.14);
}

.about-details .scroll-content {
	font-size: 14px;
    padding: 0 30px 0 30px;
    text-align: center;
    max-height: 330px;
}

.about-details .close-holder {
	margin-top: 32px;
}

.about-details .close-holder button {
	display: block;
	margin: 0 auto;
}

.parallax {
	position: relative;
}
.parallax .parallax-holder {
	position:absolute; 
	top:0; 
	left:0; 
	width: 100%; 
	height: 100%; 
	overflow: hidden;
	z-index: 0;
}
.parallax .content {
	position: relative;
	z-index: 3;
}

h1, h2 {
	font-size: 24px;
	text-align: center;
	font-weight: bold;
}

.top-logo {
	margin-top: 14px;
	margin-left: 20px;
	margin-bottom: 14px;
	display: inline-block;
}

.top-logo img {
	width: 156px;
}

.nav-link {
	color: #454445;
}

.nav-link.active {
	color: #FFFFFF;
}

.menu-toggle {
	margin-top: 23px;
	margin-right: 2px;
}

#menu-modal .nav {
	padding-top: 46px;
}

#menu-modal .nav-item {
	width: 100%;
	text-align: center;
}

#menu-modal .nav-link {
	font-size: 24px;
	line-height: 28px;
	font-weight: bold;
}

#menu-modal .btn-vallet {
	margin: 46px auto 0;
	display: block;
}

.about {
	padding-top: 26px;
	background-image: url('../images/nebula1.jpeg');
	min-height: 578px;
}
.about .content {
	padding: 0 20px;
	margin-bottom: 20px;
}
.about .btn-main {
	margin: 16px auto 0;
	display: block;
}

.about .notify {
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	color: rgba(255, 255, 255, 0.44);
	padding-top: 146px;
	text-align: center;
	margin-bottom: 20px;
}

.count-form {
	background: rgba(14, 32, 46, 0.86);
	padding: 20px;
}

.count-form .delimiter {
	display: block;
	height: 2px;
	background: linear-gradient(90deg, rgba(95, 150, 183, 0) 0%, rgba(255, 255, 255, 0.28) 50%, rgba(95, 150, 183, 0) 100%);
}

.btn-outline-secondary {
	width: 45px;
	height: 33px;

	background: linear-gradient(0deg, #1A3D58 0%, #2C70A4 100%);
	border: solid #193348;
}

.input-group-prepend .btn {
	border-radius: 16px 0 0 16px;
}

.input-group-append .btn {
	border-radius: 0 16px 16px 0;
}
.count-form .form-control {
	background: linear-gradient(180deg, rgba(13, 28, 40, 0) 0%, rgba(38, 83, 118, 0.637534) 29.42%, rgba(38, 83, 118, 0.637534) 70.58%, rgba(13, 28, 40, 0) 100%);
	border: none;
	text-align: center;
	height: 29px;
	margin-top: 4px;
	color: #FFF;
	font-weight: bold;
}

.count-form .btn-buy {
	margin: 20px auto 0;
	display: block;
}

.sn-holder {
	margin: 20px 20px 38px;
	background: #040104;
	opacity: 0.7;
	padding: 13px;
}

.sn-holder .icon-follow {
	font-size: 12px;
}

.sn-holder .sprite-follow {
	margin-right: 20px;
}

.sn-holder .sprite-discord {
	margin-right: 12px;
}

.sn-holder .sprite-discord i, .sn-holder .sprite-twitter i {
	margin-top: 3px;
}

.roadmap .sprite-action {
	position: absolute;
	left: 50%;
	margin-left: -13px;
	top: -22px;
}

.roadmap .fly-bottle {
	width: 94px;
}

.roadmap .content {
	padding: 46px 20px 40px;
}

.roadmap h2 {
	margin-bottom: 26px;
}

.cap {
	display: block;
	border: solid 3px rgba(255, 255, 255, .24);
	height: 34px;	
}

.cap.cap-top {
	border-bottom-width: 0;
	border-radius: 21px 21px 0 0;
}

.cap.cap-bottom {
	border-top-width: 0;
	border-radius: 0 0 21px 21px;
}

.stage {
	text-align: center;
}

.stage .value {
	display: block;
	height: 38px;
	line-height: 38px;
	width: 108px;
	color: white;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	border: solid 6px #A32D62;
	border-width: 0 6px 0 6px;
	background: linear-gradient(90deg, rgba(163, 45, 98, .2) 0%, rgba(5, 1, 4, 0) 50%, rgba(163, 45, 98, .2) 100%);
	margin: 0 auto 23px;
}

.stage .stage-title {
	color: #A32D62;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
}

.stage .stage-content {
	font-size: 12px;
}

.stage.blue .value {
	border-color: #2C6FA4;
	background: linear-gradient(90deg, rgba(44, 111, 164, .2) 0%, rgba(5, 1, 4, 0) 50%, rgba(44, 111, 164, .2) 100%);
}

.stage.blue .stage-title {
	color: #2C6FA4;
}

.stage.disabled {
	color: #565456;
}

.stage.disabled .value {
	border-color: #3F3E3F;
	color: #565456;
	background: linear-gradient(90deg, rgba(63, 62, 63, .2) 0%, rgba(5, 1, 4, 0) 50%, rgba(63, 62, 63, .2) 100%);
}

.stage.disabled .stage-title {
	color: #454445;
}

.stage + .delimiter {
	display: block;
	background: #454345;
	width: 4px;
	height: 40px;
	margin: 20px auto;
}

.faq {
	background-image: url('../images/nebula1.jpeg');
}

.faq .content {
	padding: 35px 20px 40px;
}

.faq h2 {
	margin-bottom: 27px;
}

.faq .card {
	background-color: transparent;
	border: 2px solid rgba(255, 255, 255, 0.24);
	border-radius: 23px;
	margin-bottom: 20px;
}

.faq .card .card-header {
	padding: 0;
	opacity: .4;
}

.faq .card .card-header .btn {
	font-size: 16px;
	text-align: left;
	padding: 16px 50px 11px 26px;
	text-transform: none;
}

.faq .card-body {
	color: #D1D1D1;
	font-size: 18px;
	padding: 0 26px 26px 26px;
}

.team {
	padding-top: 36px;
}

.team .card {
	background-color: transparent;
	width: 160px;
	margin: 0 auto 48px;
	text-align: center;
}

.team .card .card-img-top{
	width: 120px;
	height: 120px;
	border-radius: 60px;
	margin: 0 auto;
}
.team .card .card-body {
	padding: 22px 0 0;
}
.team .card .card-title {
	font-size: 26px;
	font-weight: bold;
}

.team .card .card-subtitle {
	color: #A32D62;
}

.team .card .card-text {
	font-size: 14px;
}

.footer {
	background-image: url('../images/nebula1.jpeg');
	padding-top: 40px;
}

.footer .logo-bottom {
	display: block;
	width: 184px;
	margin: 0 auto;
}

.footer .logo-bottom img {
	width: 184px;
}

.footer > .content {
	padding: 40px 20px;
}

.footer .logo-bottom {
	width: 184px;
}

.footer .delimiter {
	display: block;
	height: 2px;
	width: 100%;
	background: #FFFFFF;
	opacity: 0.14;
	margin: 27px 0;
}

.footer .bottom-menu .content, .footer .sn .content {
	width: 70%;
	margin: 0 auto;
}

.footer h5 {
	font-size: 16px;
	font-weight: bold;
}

.footer .nav {
	margin-top: 18px;
}

.footer .nav-link {
	padding: 0px;
	font-size: 14px;
	margin-bottom: 10px;
}

.footer .credit {
	text-align: center;
	font-size: 12px;
	color: rgba(255, 255, 255, .54)
}

@media (min-width: 768px) {
	h1, h2 {
		text-align: center;
		font-weight: bold;
	}

	h1 {
		font-size: 60px;
	}

	h2 {
		font-size: 54px;
	}
	
	.top-holder {
		max-width: 1200px;
		margin: 0 auto;
	}

	.main-menu .nav {
		padding-top: 30px;	
	}
	
	.top-logo {
		margin: 18px 0;
	}
	
	.top-logo img {
		width: 234px;
	}
	
	#menu-modal .nav-item {
		width: auto;
	}
	
	#menu-modal .nav-link {
		font-size: 20px;
		line-height: 1;
		font-weight: bold;
	}
	
	#menu-modal .nav-link.active {
		position: relative;
	}
	
	#menu-modal .nav-link.active:after {
		content: '';
		display: block;
		position: absolute;
		width: 38px;
		height: 32px;
		background: transparent url('../images/sprites.png') -5px -145px;
		top: 61px;
		left: 50%;
		margin-left: -19px;
		z-index: 1;
	}
	
	.about {
		padding-top: 65px;
	}
	
	.about .btn-main {
		width: 360px;
		height: 68px;
		font-weight: bold;
		font-size: 28px;
	}
	
	.about .notify {
		font-weight: 500;
		font-size: 24px;
	}
	
	.about .sprite.sprite-follow {
		/* background-image: url('../') */
	}
	
	.count-form {
		max-width: 922px;
		margin: 0 auto;
	}
	
	.roadmap .sprite-action {
		width: 76px;
		height: 148px;
		background-position: -60px -20px;
		top: -72px;
	}
	
	.roadmap .content {
		padding: 134px 0 80px;
		max-width: 926px;
		margin: 0 auto;
	}
	
	.roadmap h2 {
		margin-bottom: 49px;
	}
	
	.stage .value {
		width: 212px;
		height: 64px;
		border-width: 0 8px 0 8px;
		font-size: 36px;
		line-height: 64px;
		margin-bottom: 39px;
	}
	
	.stage .stage-title {
		font-size: 24px;
	}
	
	.stage .stage-content {
		font-size: 20px;
	}
	
	.stage + .delimiter {
		width: 4px;
		height: 64px;
		margin-top: 32px;
		margin-bottom: 32px;
	}
	
	.faq .content {
		padding-top: 71px;
	}
	
	.faq h2 {
		margin-bottom: 46px;
	}
	
	.faq .card {
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.faq .card .card-header .btn {
		font-size: 23px;
		padding: 23px 70px 20px 60px;
	}
	
	.faq .card-body {
		padding: 0px 60px 20px 60px;
	}
	.team {
		padding-top: 65px;
	}
	
	.team .content {
		max-width: 1200px;
		margin: 0 auto;
		padding-bottom: 80px;
	}
	
	.team h2 {
		margin-bottom: 68px;
	}
	
	.team .card {
		width: 208px;
	}
	
	.team .card .card-img-top {
		width: 208px;
		height: 208px;
		border-radius: 104px;
	}
	
	.team .card .card-text {
		font-size: 18px;
	}
	
	.footer {
		padding-top: 60px;
	}
	
	.footer .content {
		margin: 0px;
	}
	
	.footer > .content {
		max-width: 1200px;
		padding: 0;
		margin: 0 auto;
	}
	
	.footer .bottom-menu .content, .footer .sn .content {
		width: auto;
		margin: 0 60px;
	}
	
	.footer .logo-bottom {
		width: 326px;
	}
	
	.footer .logo-bottom img {
		width: 326px;
	}
	
	.footer .delimiter {
		position: absolute;
		right: -2px;
		width: 4px;
		height: 100%;
		top: -4px;
		margin: 0;
	}
	
	.footer .break-flex {
		flex-basis: 100%;
	}

	.footer h5 {
		font-size: 22px;
	}
	
	.footer .nav-link {
		font-size: 20px;
	}
	
	.footer .bottom-menu .nav {
		height: 105px;
	}
	
	.footer .credit {
		margin: 60px 40px 0;
		border-top: 2px solid rgba(255, 255, 255, .14);
		padding: 37px 0 60px;
		font-size: 18px
	}

}